body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  /* Fallback font */
}

.pop-up-animation {
  animation: pop-up 0.5s ease forwards;
}

@keyframes pop-up {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}

/* Add this for the Lobster font */
.font-lobster {
  font-family: 'Lobster', cursive;
  /* Apply Lobster font */
}
